# This notebook shows how to manage the events table with Spark

We first need to the kudu jars to the spark session

In [1]:
%%configure -f
{ "conf": {"spark.jars.packages": "org.apache.kudu:kudu-spark2_2.11:1.4.0" }}

In [2]:
sc

In [5]:
import org.apache.kudu.spark.kudu._
import org.apache.spark.sql.functions._

//we need to define a udf function for converting two strings into a map
val asMap = udf((keys:String, values: String) => keys.split("#").zip(values.split("#")).toMap)

//then we define a first dataframe df1 associated to the kudu table
val df1 = spark.sqlContext.read.options(Map("kudu.master" -> "master:7051","kudu.table" -> "Events3")).kudu

//the next dataframe contains an additional column of type Map containing a map for the two arrays: keys and values
//val df2 = df1.withColumn("tags", asMap($"attributesKeys",$"attributesValues"))

In [69]:
val source = df1.select("source")

In [70]:
val res = source.distinct.collect

In [6]:
df1.printSchema()

In [73]:
source.groupBy("source").count().show()

In [22]:
df1.filter("source == 'http://services.infoblu.it/BITW/data?id=teamd26lkc'").groupBy("ts").count().show()

In [45]:
df1.filter("source == 'http://services.infoblu.it/BITW/data?id=teamd26lkc'").filter("ts == '1519994000000'")

In [51]:
val df_sample = df1.filter("source == 'http://services.infoblu.it/BITW/data?id=teamd26lkc' and ts == '1519994000000'")
val df_sample_with_attributes = df_sample.withColumn("tags", asMap($"attributesKeys",$"attributesValues"))

In [55]:
df_sample_with_attributes.take(10)

In [56]:
val a = SystemE

In [9]:
%%cleanup -f